<% layout("/layouts/boilerplate") %>
<h3 class="mb-5">All Listings</h3>

<div class="row">
    <% for (let Listing of allListing) { %>
        <div class="col-md-3 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="<%= Listing.image.url %>" style="width: 18rem;"  class="card-img-top" alt="listing_image">
                <div class="card-body">
                    <a href="/listings/<%= Listing._id %>" style="text-decoration: none; color: inherit;">
                        <h5 class="card-title"><%= Listing.title %></h5>
                    </a>
                    <p class="card-text"><%= Listing.description %></p>
                    <p><strong>₹ <%= Listing.price %></strong></p>
                </div>
            </div>
        </div>
    <% } %>
</div>
 