<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaderLust</title>
    <style>
        .link {
            text-decoration: none;
        }
        .endBtnStyle{
            margin-bottom: 12px;
        }
    </style>
</head>

<body>
    <% layout("/layouts/boilerplate") %>

    <h3>Listing Details </h3>
    <ul>
        <li>Title:- <%= listing.title%>
        </li>
        <li>Description:- <%= listing.description%>
        </li>
        <li>Price:- ₹&nbsp;<%= listing.price.toLocaleString("en-in")%>
        </li>
        <li>Location:-<%= listing.location%>
        </li>
        <li>Country:- <%= listing.country%>
        </li>
    </ul>
    <div class="endBtnStyle">
        <button><a class="link" href="/listings/<%= listing._id %>/edit">Edit this list</a></button>
        <br />
    </div>
    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
        <button>Delete this listing</button>
    </form>
</body>

</html>